.scrollable-container {
    border: .5px solid rgb(246, 240, 240);
    height: 58vh;
    overflow-y: auto;  /* Enables vertical scrolling if content overflows */
  }

#wordsearch-form {
    margin-top:2.5%;
    margin-left: 4%;
}

#gematria-details {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

#add-entry {
  
  padding-left: 13%;
  padding-right: 13%;
  Padding-top: 5%;
  border: 1px solid gray;
}


