body {
  background-image: url('./images/anibeth8_a_beautiful_papyrus_background_with_an_ink_vial_and_a__f26fe676-fce9-4e84-83ed-9b73f10e4b45.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
}

.entry-grid {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     gap: 10px;
   }
   @media (max-width: 768px) {
     .entry-grid {
       grid-template-columns: 1fr;  
       height: 100vh; 
       overflow-y: auto;
     }
   }

   .query-results {
    height: 45vh;
    overflow-y: auto;
  }
  
  /* Mobile screen styles */
  @media (max-width: 768px) {
    .query-results {
      height: 98vh;
      overflow-y: auto;
    }
  }


.scrollable-container {
    border: .5px solid rgba(255, 228, 196, 0.5);
    height: 58vh;
    overflow-y: auto;  /* Enables vertical scrolling if content overflows */
  }
  .dictsearch{
    background-color: rgba(255, 228, 196, 0.5);
    padding: 1%;
    color: black;
    height: "32.5rem";
  }

#personal-details, #global-details {
	width: 40vw;
	padding-left: 2%;
	padding-right: 2%;
	flex: 1;
}

  @media (max-width:768px){
 #personal-details, #global-details {
  
    width:100%;
    padding-right: 0;
    margin-bottom: 25px;
  }
  } 

#welcome {
  color: white;

  
}

#navbar {
  background-color: rgba(255, 228, 196, 0.5);
}

#wordsearch-form {
    margin-top:2.5%;
    margin-left: 4%;
}

#gematria-details {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

#add-entry {
  
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 5%;
  border: 1px solid gray;

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 20%;
  }
 
 
  }


